body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* index.css 또는 src/styles/global.css */
:root {
  --color-primary: #01D3AC;
  --color-2: #08D8B1;
  --color-3: #68DFC9;
  --color-4: #E7FFFB;

  --color-background-bright: #F8F8F8;
  --color-background-dark: #565656;

  --color-text-bright: #D9D9D9;
  --color-text-dark: #A8ABB0;

  --color-submit-btn: #3F8CFE;
  --color-qr: #7F8AF0;

  --color-calendar-background: #F5F9F8;
  --color-ing: #00EAA0;
  --color-xx: #FF7272;

  --color-blockchain-ok: #46BEFC;
  --color-blockchain-fail: #FF6565;
  --color-blockchatin-success: #43D300;
}
